* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#services {
  width: 100%;
}

.service {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.service__image {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center;
}

.service__content {
  background: #1f4d3a;
  color: white;
  padding: 40px 25px 50px;
}

.service__content h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.service__content p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  background: white;
  color: #1f4d3a;
  padding: 12px 28px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
}

@media (min-width: 900px) {
  .service {
    flex-direction: row;
    height: 440px;
  }

  .service__image {
    width: 55%;
    height: auto;
  }

  .service__content {
    width: 45%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
